<div class="row formCard">
	<h2 class="profileTitle titles">Sign Up</h2>
  <br>
  <%= form_for(@user) do |f| %>
   
</div>
   

    <div class="row form">
    	<div class="large-6 columns">
    		<%= f.label :user_name, class: "formTitle" %>
    		<%= f.text_field :user_name %>
    		<%= f.label :email, class: "formTitle" %>
       		<%= f.text_field :email %>
       		<%= f.label :password, class: "formTitle" %>
        	<%= f.password_field :password %>
          <div class="actions">
          <%= f.submit %>
    </div>
    <% end %>
