<p>
  <h3>Welcome, <%= @user.user_name %>!</h3>

</p>
<div class"container">
	<strong>Email:</strong>
	<%= @user.email %>
</div>

<br>
<%= link_to 'Edit Your User Info', edit_user_path(@user) %> |
<%= link_to 'Back', user_path %>
<br>
<br>
<div class"container">
<h5>Your Songs</h5>
</div>
<br>
<div class="row">
<% @user.songs.each do |song| %>
      <tr>
        <td><strong><%= song.title %></strong></td>
        <td><%= song.lyrics %></td>
        <td><%= song.origin %></td>
        <td><%= song.image %></td>
        <br>
        <td><%= link_to 'Show', song %></td>
        <td><%= link_to 'Edit', edit_song_path(song) %></td>
        <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <br><br>
    <% end %>
</div>
<br>
<div class="row">
  <%= button_to 'New Song', new_song_path, :method => :get%>
</div>
