<%= form_for(@song) do |f| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row form">
  <div class="large-6 columns">
    <div class="field">

    <%= f.text_field :title, placeholder: "Title" %>
    </div>
    <div class="field">

    <%= f.text_field :lyrics, placeholder: "Lyrics" %>
    </div>
    <div class="field">

    <%= f.text_field :origin, placeholder: "Country (or Region) of Origin" %>
    </div>
    <div class="field">

    <%= f.text_field :image, placeholder: "Click Choose Image File to Upload" %>
    </div>
    <div class="container">
   <%= f.hidden_field :image, role: 'uploadcare-uploader' %>
  </div>

  <br>
  <%= f.text_field :tag_list, placeholder: "Add Tags with commas to separate" %>

    <div class="actions">
    <%= f.submit %>

    </div>
  </div>
</div>
<% end %>
