<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      UPLOADCARE_LOCALE = "en";
      UPLOADCARE_TABS = "file url";
      UPLOADCARE_PUBLIC_KEY = "0ba2e4909c7d5326c803";
    </script>
    
<script charset="utf-8" src="//ucarecdn.com/widget/2.9.0/uploadcare/uploadcare.full.min.js"></script>


    <title><%= content_for?(:title) ? yield(:title) : "Lyrical" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  
  <body>

    <%= render 'header' %>
      <% if flash[:notice] || flash[:errors] %>
        <div class="notice"><%= flash[:notice] %></div>
        <div class="errors"><%= flash[:errors] %></div>
      <% end %>


    <%= yield %>

    <% render 'footer' %>

  </body>
</html>
